* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
}
.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 140px;
  margin-right: 20px;
}
.header__logo-container img {
  width: 48px;
  margin-left: 18px;
}
.header__logo-container p span {
  margin-left: 13px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Hubballi", cursive;
  font-weight: 600;
}
.header__lista {
  display: none;
  list-style: none;
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
}
.header__lista li a {
  margin-right: 40px;
  color: #000000;
  text-decoration: none;
}
.header .icons__media {
  margin-right: 10px;
}
.header .icons__media i {
  font-size: 24px;
  margin-right: 10px;
}
.header .icons__media a {
  color: #000000;
  text-decoration: none;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icons .number-articles {
  position: relative;
  left: 0px;
  bottom: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
}
.header__icons .number-articles p {
  text-align: center;
  font-size: 16;
  font-family: "Hubballi", cursive;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 2px;
}
.header__icons a {
  font-size: 22px;
  margin-right: 16px;
  color: #000000;
}
.header__icons .burger-menu a {
  font-size: 28px;
  margin-right: 16px;
  color: #000000;
  margin-left: 4px;
}

.section-1 {
  height: 100vh;
  padding-top: 10px;
  background-image: url("/IMAGES/background/1.1.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-1__text-container {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  margin-left: 8vw;
}
.section-1__text-container .name-serie {
  font-family: "Hubballi", cursive;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}
.section-1__text-container .phrase-serie {
  font-family: "Fredoka", sans-serif;
  font-weight: 800;
  font-size: 68px;
  color: #000000;
  margin-bottom: 8px;
}
.section-1__text-container .button {
  width: 140px;
  height: 32px;
  padding-top: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Hubballi", cursive;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 7px 7px 4px;
          box-shadow: 7px 7px 4px;
  color: #000000;
  background-color: white;
}

.section-2 {
  height: 100%;
  padding-top: 10px;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-2 h2 {
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
}
.section-2 .new-tshirts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
.section-2 .new-tshirts-container .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-2 .new-tshirts-container .item__photo {
  width: inherit;
  height: 75%;
}
.section-2 .new-tshirts-container .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-2 .new-tshirts-container .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-2 .new-tshirts-container .item__details .last_price {
  text-decoration: line-through;
}
.section-2 .new-tshirts-container .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-2 .new-tshirts-container .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.section-3 {
  background-color: #F8DC46;
  height: 100%;
  padding-top: 10px;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-3 h2 {
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
}
.section-3 .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-3 .item__photo {
  width: inherit;
  height: 75%;
}
.section-3 .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-3 .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-3 .item__details .last_price {
  text-decoration: line-through;
}
.section-3 .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-3 .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .model-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}
.section-3 .model-container img {
  width: 200px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 4px #000000;
          box-shadow: 10px 10px 4px #000000;
  margin-bottom: 30px;
}

.section-4 {
  height: 100%;
  padding-top: 10px;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-4 h2 {
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
}
.section-4 .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-4 .item__photo {
  width: inherit;
  height: 75%;
}
.section-4 .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-4 .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-4 .item__details .last_price {
  text-decoration: line-through;
}
.section-4 .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-4 .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.section-4 .model-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin-top: 10px;
}
.section-4 .model-container img {
  width: 200px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 4px #000000;
          box-shadow: 10px 10px 4px #000000;
  margin-bottom: 20px;
}

.section-5 {
  height: 100%;
  padding-top: 10px;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-5 h2 {
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
}
.section-5__reviews-container {
  width: 300px;
  margin: 0 auto;
}
.section-5__reviews-container .review {
  margin: 20px 0px;
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.section-5__reviews-container .review p {
  margin-bottom: 8px;
}
.section-5__reviews-container .review .review__polo-name {
  font-weight: 600;
}
.section-5__reviews-container .review .review__stars {
  margin-bottom: 8px;
}
.section-5__reviews-container .review .review__name,
.section-5__reviews-container .review .review__comment {
  color: gray;
}
.section-5 .more-reviews {
  text-align: center;
  margin-bottom: 20px;
}
.section-5 .more-reviews a {
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #F8DC46;
  padding-top: 4px;
}
.footer .footer__top {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer__top ul {
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
  margin: 20px auto;
}
.footer .footer__top ul li {
  margin-bottom: 4px;
}
.footer .footer__top ul li a {
  text-decoration: none;
  color: #000000;
}
.footer .footer__top ul li:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
}
.footer__form input {
  margin-bottom: 8px;
}