* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: rgba(248, 220, 70, 0.8);
}
.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 140px;
  margin-right: 20px;
}
.header__logo-container img {
  width: 48px;
  margin-left: 18px;
}
.header__logo-container p span {
  margin-left: 13px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Hubballi", cursive;
  font-weight: 600;
}
.header__lista {
  display: none;
  list-style: none;
  font-family: "Fredoka", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.header__lista li a {
  margin-right: 40px;
  color: #000000;
  text-decoration: none;
}
.header__lista li a:hover {
  text-decoration: underline;
}
.header .icons__media {
  margin-right: 10px;
}
.header .icons__media i {
  font-size: 24px;
  margin-right: 10px;
}
.header .icons__media a {
  color: #000000;
  text-decoration: none;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icons .number-articles {
  position: relative;
  left: 0px;
  bottom: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
}
.header__icons .number-articles p {
  text-align: center;
  font-size: 16;
  font-family: "Hubballi", cursive;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 2px;
}
.header__icons a {
  font-size: 22px;
  margin-right: 16px;
  color: #000000;
}
.header__icons .burger-menu a {
  font-size: 28px;
  margin-right: 16px;
  color: #000000;
  margin-left: 4px;
}

.section-1 {
  height: 100vh;
  background-image: url("/IMAGES/background/1.1.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-1__text-container {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 110px;
  margin-left: 10vw;
}
.section-1__text-container .name-serie {
  font-family: "Hubballi", cursive;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}
.section-1__text-container .phrase-serie {
  font-family: "Fredoka", sans-serif;
  font-weight: 800;
  font-size: 68px;
  color: #000000;
  margin-bottom: 8px;
}
.section-1__text-container .button {
  width: 160px;
  height: 32px;
  padding: 6px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Hubballi", cursive;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 7px 7px 4px;
          box-shadow: 7px 7px 4px;
  color: #000000;
  background-color: white;
}

.section-2 {
  height: 100%;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-2 h2 {
  margin: 12px auto;
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section-2 .new-tshirts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.section-2 .new-tshirts-container .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-2 .new-tshirts-container .item__photo {
  width: inherit;
  height: 75%;
}
.section-2 .new-tshirts-container .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-2 .new-tshirts-container .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-2 .new-tshirts-container .item__details .last_price {
  text-decoration: line-through;
}
.section-2 .new-tshirts-container .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-2 .new-tshirts-container .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.section-3 {
  padding-top: 10px;
  background-color: #F8DC46;
  height: 100%;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-3 h2 {
  margin: 12px auto;
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section-3 .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-3 .item__photo {
  width: inherit;
  height: 75%;
}
.section-3 .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-3 .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-3 .item__details .last_price {
  text-decoration: line-through;
}
.section-3 .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-3 .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.section-3 .model-container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-3 .model-container img {
  width: 200px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 4px #000000;
          box-shadow: 10px 10px 4px #000000;
  margin-bottom: 30px;
}

.section-4 {
  height: 100%;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-4 h2 {
  margin: 12px auto;
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section-4 .item {
  width: 200px;
  height: 320px;
  margin: 20px auto;
  text-transform: uppercase;
}
.section-4 .item__photo {
  width: inherit;
  height: 75%;
}
.section-4 .item__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-4 .item__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 18px;
  text-align: center;
  font-family: "Hubballi", cursive;
  line-height: 20px;
  font-weight: 600;
}
.section-4 .item__details .last_price {
  text-decoration: line-through;
}
.section-4 .discount-container {
  position: relative;
  width: 68px;
  height: 20px;
  padding-top: 1px;
  bottom: 60px;
  background-color: #000000;
}
.section-4 .discount-container p {
  font-size: 12px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.section-4 .model-container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-4 .model-container img {
  width: 200px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 10px 10px 4px #000000;
          box-shadow: 10px 10px 4px #000000;
  margin-bottom: 20px;
}

.section-5 {
  height: 100%;
  background-image: url("");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-5 h2 {
  margin: 12px auto;
  font-size: 32px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.section-5 .container-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 280px;
  margin: 0 auto 20px auto;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 30px;
}
.section-5 .reviews-container {
  margin: 0 auto;
}
.section-5 .reviews-container .review {
  width: 260px;
  margin: 20px 0px;
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.section-5 .reviews-container .review p {
  margin-bottom: 8px;
}
.section-5 .reviews-container .review .review__polo-name {
  font-weight: 600;
}
.section-5 .reviews-container .review .review__stars {
  margin-bottom: 8px;
}
.section-5 .reviews-container .review .review__name,
.section-5 .reviews-container .review .review__comment {
  color: gray;
}
.section-5 .more-reviews {
  text-align: center;
  margin-bottom: 20px;
}
.section-5 .more-reviews a {
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.section-5 .more-reviews:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #F8DC46;
  padding-top: 4px;
}
.footer .footer__top {
  margin: 0 auto;
  text-align: center;
}
.footer .footer__top ul {
  width: auto;
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
  margin: 20px;
}
.footer .footer__top ul li {
  margin-bottom: 4px;
}
.footer .footer__top ul li a {
  text-decoration: none;
  color: #000000;
}
.footer .footer__top ul li:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
}
.footer .footer__form {
  margin-bottom: 18px;
  text-align: center;
}
.footer .footer__form .email {
  width: 200px;
  padding: 4px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #F8DC46;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-bottom: 12px;
}
.footer .footer__form .suscribete {
  width: 160px;
  height: 32px;
  padding: 6px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Hubballi", cursive;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 7px 7px 4px;
          box-shadow: 7px 7px 4px;
  color: #000000;
  background-color: white;
  cursor: pointer;
}
.footer .footer__bottom {
  text-align: center;
  font-size: 12px;
}
.footer .footer__bottom a {
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  color: #000000;
}

/* Media Queries Mixin
**********************/
/* Media Queries Mixin
**********************/
@media only screen and (min-width: 768px) {
  .header__lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .section-1 .section-1__text-container {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 992px) {
  .section-1 .section-1__text-container {
    padding-top: 140px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-1 .section-1__text-container {
    padding-top: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .section-2 .new-tshirts-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .section-3 .new-tshirts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .section-4 .new-tshirts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .section-5 .reviews-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__top {
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}