@import './componentes/global.scss';
@import "./componentes/mixins.scss";
@import './componentes/header.scss';
@import "./componentes/section-1.scss";
@import "./componentes/section-2.scss";
@import "./componentes/section-3.scss";


.section-4 {
    h2 {
        @include section-h2_styles;
    }
    @include section_styles(100%, "");
    @include item_styles;

    .model-container {
        display: flex;
        justify-content: center;
        width: auto;
        margin-top: 10px;
        

        img {
            width: 200px;
            height: 280px;
            object-fit: cover;
            box-shadow: 10px 10px $color-segundario;
            margin-bottom: 20px;
        }
    }
}