footer.footer 
	.footer__top
		ul
			li Tienda
			li
				a(href="") polos 
			li
				a(href="") poleras
			li
				a(href="") accesorios
		ul
			li  Quimera
			li
				a(href="") terminos y condiciones 
			li
				a(href="") politicas
			li
				a(href="") faq
		ul
			li suscribirse
			li suscribete a nuestro newsletter y obten el 10% de descuento en tu primera compra
		form.footer__form( action="")
			input.email(type="email")
			br 
			input.suscribete(type="submit" value="Suscribete")
	.footer__bootom 
		p
			span ® QUIMERA — TODOS LOS DERECHOS RESERVADOS
		p 
			span DESARROLLADO POR: 
		a(href="#", target="_blank", rel="noopener noreferrer") ROSMERJS