footer#nosotros.footer 
	.footer__top
		ul
			li Tienda
			li
				a(href="") polos 
			li
				a(href="") poleras
			li
				a(href="") nosotros 
		ul
			li  Quimera
			li
				a(href="") terminos y condiciones 
			li
				a(href="") politicas
			li
				a(href="") faq
		.form__container
			ul
				li suscribirse
				li
					| suscribete a nuestro y obten el 10% 
					br
					|  de descuento en tu primera compra
			form.footer__form( action="")
				input.email(type="email")
				br 
				input.suscribete(type="submit" value="Suscribete")
	.footer__bottom 
		p
			span ® QUIMERA — TODOS LOS DERECHOS RESERVADOS
		p 
			span DESARROLLADO POR: 
			a(href="#", target="_blank", rel="noopener noreferrer") ROSMERJS