header.header
	figure.header__logo-container 
		img(src="/IMAGES/iconos-logos/descarga.png")
		p 	
			span quimera 
	ul.header__lista 
		li
				a(href="#") Tienda 
		li
				a(href="#nuevo")  Nuevo 
		li
				a(href="#poleras") Poleras 
		li
				a(href="#polos") Polos 
		li
				a(href="#nosotros")  Nosotros
	.header__icons 
		.number-articles 	
			p  
				span 0		
		a(.car-number href="#")
			i.fa-solid.fa-cart-shopping

		.burger-menu 
			a(href="#")
				i.fa-solid.fa-bars