include ./componentes/mixins.pug

doctype html
html(lang="en")
	include ./componentes/head.pug
	body 
		include ./componentes/header.pug
		main 
			section.section-1
				.section-1__text-container 
					p.name-serie #{span_name_serie_section1[0]}
					p.phrase-serie #{span_phrase_serie_section1[0]}
					a.button(href="") Ver colección  
					

			section.section-2 
				h2 nuevas prendas
				.new-tshirts-container
					+new-tshirts-item ('/IMAGES/Breakinb-tshirt.jpg', "Breaking Bad Polo Blanco", "$60.00", "$45.00")
					+new-tshirts-item ("/IMAGES/friends-tshirt.jpg", "Friends Polo Rosa", "$60.00", "$45.00")
					+new-tshirts-item ("/IMAGES/r&m-tshirt.jpg", "Rick y morty polo amarillo", "$60.00", "$45.00")
					+new-tshirts-item ("/IMAGES/bojack-tshirt.jpg", "Bojack en Horsing around polo", "$60.00", "$45.00")
					+new-tshirts-item ("/IMAGES/better-call-soul-tshirt.jpg", "Better call soul polo", "$60.00", "$45.00")

			section.section-3 
				h2 polos
				.new-tshirts-container
					+normal-tshirt-item("/IMAGES/normal-tshirts/better-call-saul-normal-tshirt.jpg", "Polo better call soul", "$60.00", "$45.00" )
					+normal-tshirt-item("/IMAGES/normal-tshirts/Game Of Thrones Night's Watch Womens T-Shirt.jpg", "Juego de tronos polo de dama", "$60.00", "$45.00")
					+normal-tshirt-item("/IMAGES/Rick-and-morty-tshirt.jpg", "Rick polo azul marino","$60.00","$45.00")
					figure.model-container
						img(src="/IMAGES/normal-tshirts/Models-1.jpg", alt="chicos con polo")

			section.section-4
				.normal-sweaters-container 
					h2 poleras
					figure.model-container 
						img(src="/IMAGES/normal-tshirts/models-3.jpg", alt="chico con polo")
					+normal-tshirt-item("/IMAGES/poleras/Game-of-thrones-sweater.jpg", "Sueter de juego de tronos negro", "$60.00", "$45.00")
					+normal-tshirt-item("/IMAGES/poleras/got-sweater2.jpg", "Sueter de juego de tronos gris", "$60.00", "$45.00")
					+normal-tshirt-item("/IMAGES/poleras/rick-y-morty-sweater.jpg", "Sueter de rick y morty", "$60.00", "$45.00")
				
			section.section-5
				.section-5__contacts-container 
					h2 clientes
					+review-product('rafael', 'Rick&Morty polo', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis quo, eaque, quia suscipit cupiditate recusandae consequuntur asperiores tenetur magnam officia tempore veritatis deleniti sapiente? Qui quia omnis asperiores veniam ut')  						
					p
						span ver más reseñas
					figure.phone__image 
						img(src="#", alt="telefono con instagram de nuestra web")
		include ./componentes/footer.pug
		