include ./componentes/mixins.pug

doctype html
html(lang="en")
	include ./componentes/head.pug
	body 
		include ./componentes/header.pug
		main 
			section.section-1
				.section-1__text-container 
					p.name-serie #{span_name_serie_section1[0]}
					p.phrase-serie #{span_phrase_serie_section1[0]}
					a.button(href="#nuevo") Ver colección  
					
			section#nuevo.section-2 
				h2 nuevas prendas
				.new-tshirts-container
					+new-tshirts-item("/IMAGES/better-call-soul-tshirt.jpg", "Better call soul polo", "$60.00", "$45.00",'20')
					+new-tshirts-item("/IMAGES/friends-tshirt.jpg", "Friends Polo Rosa", "$60.00", "$45.00", '20')
					+new-tshirts-item("/IMAGES/r&m-tshirt.jpg", "Rick y morty polo amarillo", "$60.00", "$45.00", '20')
					+new-tshirts-item("/IMAGES/bojack-tshirt.jpg", "Bojack en Horsing around polo", "$60.00", "$45.00", '20')

			section#polos.section-3 
				h2 polos
				figure.model-container
					img(src="/IMAGES/normal-tshirts/Models-1.jpg", alt="chicos con polo")
				.new-tshirts-container
					+new-tshirts-item("/IMAGES/normal-tshirts/better-call-saul-normal-tshirt.jpg", "Polo better call soul", "$60.00", "$45.00", '20')
					+new-tshirts-item("/IMAGES/normal-tshirts/Game Of Thrones Night's Watch Womens T-Shirt.jpg", "Juego de tronos polo de dama", "$60.00", "$45.00", '20')
					+new-tshirts-item("/IMAGES/Rick-and-morty-tshirt.jpg", "Rick polo azul marino","$60.00","$45.00", '20')

			section#poleras.section-4
				h2 poleras
				figure.model-container 
					img(src="/IMAGES/normal-tshirts/models-3.jpg", alt="chico con polo")
				.new-tshirts-container 
					+new-tshirts-item("/IMAGES/poleras/Game-of-thrones-sweater.jpg", "Sueter de juego de tronos negro", "$100.00", "$85.00", '15')
					+new-tshirts-item("/IMAGES/poleras/got-sweater2.jpg", "Sueter de juego de tronos gris", "$100.00", "$85.00", '15')
					+new-tshirts-item("/IMAGES/poleras/rick-y-morty-sweater.jpg", "Sueter de rick y morty", "$100.00", "$85.00", '15')
				
			section.section-5
				h2 clientes
				.container-1
					.reviews-container 
						+review-product('Rafael', 'Rick&Morty polo', 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis quo, eaque, quia suscipit cupiditate recusandae consequuntur asperiores tenetur magnam officia tempore veritatis deleniti sapiente? Qui quia omnis asperiores veniam ut')
						+review-product("Jimena", "Polera juego de tronos", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda soluta laudantium tempore nam pariatur non consectetur neque commodi amet dolor voluptas explicabo officia, magni dolorum maiores quos hic labore.")
					.more-reviews 
						a(href="#") ver mas reseñas
		include ./componentes/footer.pug		