.footer {
    width: 100%;
    height: 100%;
    background-color: $color-terciario;
    padding-top: 4px;
    .footer__top {
        margin: 0 auto;
        text-align: center;

        ul {
            width: auto;
            font-family: $fuente-2;
            font-size: $fuente-sm;
            text-transform: uppercase;
            list-style: none;
            margin: 20px;
        }

        ul li {
            margin-bottom: 14px;
        }

        ul li a {   
            text-decoration: none;
            color: $color-fuente-2;
        }

        ul li:nth-child(1) {
            font-weight: 600;
            font-size: $fuente-md;
            margin-bottom: 6px;
        }

    }

    .footer__form {
        margin-bottom: 18px;
        text-align: center;

        .email {
            width: 200px;
            padding: 4px;
            font-family: $fuente-3;
            text-transform: uppercase;
            font-weight: 600;
            background-color: $color-terciario;
            border: 2px solid $color-segundario;
            border-radius: 10px;
            margin-bottom: 12px;
            outline: 0;
        }
        
        .suscribete {
            @include button;
            cursor: pointer;
        }
    }

    .footer__bottom {
        text-align: center;
        font-size: $fuente-sm;
    }

    .footer__bottom a {
        text-decoration: none;
        font-family: $fuente-2;
        color: $color-fuente-2;
    }

}