.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: rgba($color-terciario, $alpha: .8);
    
    &__logo-container {
        display: flex;
        flex-direction: column;
        width: 140px;
        margin-right: 20px;
        
        img {
            width: 48px;
            margin-left: 18px;
        }

        p span {
            margin-left: 13px;
            text-transform: uppercase;
            font-size: 16px;
            font-family: $fuente-1;
            font-weight: 600;
        }
        
    }

    &__lista {
        display: none;
        list-style: none;
        font-family: $fuente-2;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 20px;
        
        li a {
            margin-right: 40px;
            color: $color-fuente-2;
            text-decoration: none;
        }
        & li a:hover {
            text-decoration: underline;
        }
    }

    

    .icons__media {
        margin-right: 10px;

        i {
            font-size: $fuente-big;
            margin-right: 10px;
        }

        a {
            color: $color-fuente-2;
            text-decoration: none;
        }
    }

    &__icons {
        display: flex;
        align-items: center;

        .number-articles { 
            position: relative;
            left: 0px;
            bottom: 1px; 
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color-segundario;

            p {    
                text-align: center;           
                font-size: 16;
                font-family: $fuente-1;
                font-weight: 400;
                color: $color-fuente-1;
                padding-top: 2px
            }
        }
        
        a {
            @include icons(22px);
        }

        .burger-menu a {
            @include icons(28px);
            margin-left: 4px;
        }


    }

}