@mixin section_styles($height, $bg-url){
    height: $height;
    background-image: url($bg-url);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin item_styles() {
    .item {
        width: 200px;
        height: 320px;
        margin: 20px auto;
        text-transform: uppercase;

        &__photo {
            width: inherit;
            height: 75%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;   
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 18px;
            text-align: center;
            font-family: $fuente-1;
            line-height: 20px;
            font-weight: 600;
            
            .last_price {
                text-decoration: line-through;
            }
        }
    }

    .discount-container {
        position: relative;
        width: 68px;
        height: 20px;
        padding-top: 1px;
        bottom: 60px;
        background-color: $color-segundario;

        p {
            font-size: $fuente-sm;
            font-family: $fuente-2;
            text-align: center;
            color: $color-fuente-1;
        }
    }
}

@mixin section-h2_styles {
    margin: 12px auto;
    font-size: 32px;
    font-family: $fuente-2;
    text-align: center;
    text-transform: uppercase;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
    line-height: calculateRem($size)*1.5;
}

@mixin icons($size) {
    font-size: $size;
    margin-right: 16px;
    color: $color-fuente-2;
}

@mixin button {
    width: 160px;
    height: 32px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    font-size: $fuente-md;
    font-family: $fuente-1;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    box-shadow: 7px 7px 4px;
    color: $color-fuente-2;
    background-color: rgba($color-primario, $alpha: 1);
}