.header {
    &__lista {
        @include media(tablet) {
            display: flex;
        }
    }
}

.section-2 {
    .new-tshirts-container {
        @include media(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}

.section-3 {
    .new-tshirts-container {
        @include media(tablet) {
            display: flex;
        }
    }
}

.section-4 {
    .new-tshirts-container {
        @include media(tablet) {
            display: flex;
        }
    }
}

.section-5 {
    .reviews-container {
        @include media(tablet){
            display: flex;
        }
    }
}

.footer {
    &__top {
        padding-bottom: 10px;
        @include media(tablet) {
            display: flex;
            justify-content: space-evenly;
        }
    }
}