.section-1 {
    @include section_styles(100vh,"/IMAGES/background/1.1.png");
    display: flex;
    align-items: center;
}

.section-1__text-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;

    .name-serie {
        font-family: $fuente-1;
        font-size: $fuente-big;
        font-weight: 600;
        text-decoration: none;
        color: $color-fuente-2;
    }

    .phrase-serie {
        font-family: $fuente-2;
        font-weight: 800;
        font-size: 68px;
        color: $color-fuente-2;
        margin-bottom: 8px;   
    }

    .button {
       @include button;
    }
}