.section-3 {
    padding-top: 10px;
    background-color: $color-terciario;
    h2 {
        @include section-h2_styles;
    }

    @include section_styles(100%, "");
    @include item_styles;

    .model-container {
        width: auto;
        display: flex;
        justify-content: center;
       
        img {
            width: 200px;
            height: 280px;
            object-fit: cover;
            box-shadow: 10px 10px 4px $color-segundario;
            margin-bottom: 30px;
        }
    }

}
